doctype html
html
  head
    title TINT Theme
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js')
    block scripting